Html {
    background-image:url(images/backgrounds/background.png);
    text-align: center;
    width: auto;
    height: auto;
    font-family: 'PT Sans', sans-serif;
}

body{
    text-align: center;
    width: auto;
    height: auto;
    font-family: 'PT Sans', sans-serif;    
}
#table {
    text-align: center;
    width: auto;
    height: auto;
    font-family: 'PT Sans', sans-serif;
}

footer{
    
    
}

head {
    
    
}

#G input{
    background-color:;
    text-decoration-color: aqua;
    border: none;

    
    
}

#k input{
    
    border: none;
}

input {
    width:auto;
    height:auto;
    
    
}
#graph {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}