/*
* used to set the background and how it covers the page with out repeating, also aligns the text to the center, and sets font. Makes it so that the browser can be shrunk and the content will shrink too
*/
Html {
    background-image:url(images/backgrounds/background.png); 
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: center;
    width: auto; 
    height: auto;
    font-family: 'PT Sans', sans-serif;
}

/*
* makes the bodys text aline to the center, also sets the font. Makes it so that the browser can e shrunk and the content will shrink too
*/
body{
    text-align: center;
    width: auto;
    height: auto;
    font-family: 'PT Sans', sans-serif;
}

/*
* makes the table centered on the browser. Makes it so that the browser can e shrunk and the content will shrink too
*/
#table {
    text-align: center;
    width: auto;
    height: auto;
    font-family: 'PT Sans', sans-serif;
}

/*
*footer not used
*/
footer{
    
    
}

/*
*head not used
*/
head {
    
    
}

/*
*sets the decoration color
*/
#G input{
    text-decoration-color: aqua;
    border: none;
}

/*
*set the table to the center on the browser
*/
 table.center {
    margin-left:auto; 
    margin-right:auto;
  }

/*
*stats that there is no border for the div k
*/
#k input{
    border: none;
}

/*
*Set the input so that its in the center of the screen
*/
input {
    width:auto;
    height:auto;
    
    
}

/*
*makes the graph readable and so it is in the center of the browser
*/
#graph {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}