Html {
    background-color: aqua;
    background-image:url();
    text-align: center;
    width: auto;
    height: auto;
    font-family: 'PT Sans', sans-serif;
}

body{
    
    
}

footer{
    
    
}

head {
    
    
}

#G input{
    background-color:;
    text-decoration-color: aqua;
    border: none;

    
    
}

#k input{
    
    border: none;
}

input {
    width:auto;
    height:auto;
    
    
}